:root {
  /*
 --link-color:blue;
 --code-background:#eee;
 --inline-code-background:#eee;
 --color-admonition-bg: #eee;
 --color-admonition-border-color-warning: yellow;
 --color-admonition-border-color-note: green;
 --color-admonition-border-color-tip: darkgray;
 --color-admonition-border-color-danger: red;
 --color-error-bg: red;
 --quote-background: #ededf0;
 --quote-background-hl: black;
 --color-highlight: #ff0000;
 --color-warning-gb: lightgray;
 */
 --link-color: #7cafc2; /* base0D */
 --link-color-hover: #86c1b9; /* base0D */
 --code-background:#e8e8e8; /* base01 */
 --inline-code-background:#e8e8e8; /* base01 */
 --color-admonition-bg: #e8e8e8; /* base01 */
 --color-admonition-border-color-warning: #f7ca88; /* base0A-bg */
 --color-admonition-border-color-note: #a1b56c; /* base0B */
 --color-admonition-border-color-tip: #181818; /* base07 */
 --color-admonition-border-color-danger: #ab4642; /* base08 */
 --color-error-bg: #ab4642; /* base08 */
 --quote-background: #e8e8e8; /* base01 */
 --quote-background-hl: #181818; /* base07 */
 --color-highlight: #ab4642; /* base08 */
 --color-warning-gb: #e8e8e8; /* base01 */

 /* base16 colors */
 --color-base00-bg: #f8f8f8;
 --color-base01-bg: #e8e8e8;
 --color-base02-bg: #d8d8d8;
 --color-base03-bg: #b8b8b8;
 --color-base04-bg: #585858;
 --color-base05-bg: #383838;
 --color-base06-bg: #282828;
 --color-base07-bg: #181818;
 --color-base08-bg: #ab4642;
 --color-base09-bg: #dc9656;
 --color-base0A-bg: #f7ca88;
 --color-base0B-bg: #a1b56c;
 --color-base0C-bg: #86c1b9;
 --color-base0D-bg: #7cafc2;
 --color-base0E-bg: #ba8baf;
 --color-base0F-bg: #a16946;
 
 --color-base00: #f8f8f8;
 --color-base01: #e8e8e8;
 --color-base02: #d8d8d8;
 --color-base03: #b8b8b8;
 --color-base04: #585858;
 --color-base05: #383838;
 --color-base06: #282828;
 --color-base07: #181818;
 --color-base08: #ab4642;
 --color-base09: #dc9656;
 --color-base0A: #f7ca88;
 --color-base0B: #a1b56c;
 --color-base0C: #86c1b9;
 --color-base0D: #7cafc2;
 --color-base0E: #ba8baf;
 --color-base0F: #a16946;
}

body {
  padding: 1em;
  background: var(--color-base00);
  color: var(--color-base07);
  line-height: 1.3;
  font-family: monospace, monospace;
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1em;
}

header nav .active {
 font-weight: bolder;
}

h1 {
  font-size: xx-large;
}

h2::before{
 content: '## ';
  }

h3::before{
 content: '### ';
  }

article-list {
  flex-grow: 1;
}

article {
  margin-bottom: 1rem;
}

div.article-list ul {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

div.article-list a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: var(--link-color);
}

div.article-list a:hover {
  text-decoration: underline;
}

div.article-list a:visted {
  text-decoration: underline;
  text-decoration-style: solid;
}

tag-list {
  flex-grow: 1;
  margin-bottom: 1rem;
}

div.tag-list ul {
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
}

blockquote {
  border-left: 5px solid var(--quote-background-hl);
  background: var(--quote-background);
  padding: 2px 16px;
  margin-left: 0;
  margin-right: 0;
}

.date {
  color: var(--color-base04);
}

/* links not in the article list*/
a {
  text-decoration: none;
  color: var(--link-color);
}
/* a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
  text-decoration-style: dashed;
}

a:visted {
  text-decoration: underline;
  text-decoration-style: solid;
} */

pre {
 text-wrap: wrap;
 white-space: pre-wrap;
 overflow-x:auto;
 padding:1em;
 background:var(--code-background) !important;
 border: 1px solid black;
 margin-left: auto;
 margin-right: auto;
 width: 90%
}

code {
 font-family:monospace;
 font-size:13px;
 padding:2px 4px;
 background:var(--inline-code-background)!important
}

pre code {
 background:0 0!important;
 padding:initial;
 border:none
}

div.admonition {
  padding: 2px 16px;
  background-color: lightgray; 
}

.warn {
  border-left: 5px solid var(--color-admonition-border-color-warning);
}

.note {
  border-left: 5px solid var(--color-admonition-border-color-note);
}

.tip {
  border-left: 5px solid var(--color-admonition-border-color-tip);
}

div.admonition > p.admonition-title {
  position: relative;
  font-weight: 500;
}

div.admonition > p.admonition-title {
  position: relative;
  font-weight: 500;
}

div.toc ul {
  list-style-type: square;
}

hr {
border: 1px solid var(--quote-background);
border-radius: 5px;
display: block;
}

/*
Navigation Loop
*/

div.loop-nav ul{
  list-style-type: none;
  padding: 0px;
}

div.loop-nav li.next ::after{
  content: '>';
}

div.loop-nav li.next {
  float: right;
}

div.loop-nav li.previous ::before{
  content: '<';
}

div.loop-nav li.previous {
  float: left;
}

div.nav a .active {
  font-weight: bolder;
}

/* span.article-tag {
  color: green;
}

span.article-tag:last-of-type {
  color: red;
} */

#blurb {
  padding-top: 1em;
  padding-bottom: 1em;
}