{% block content_title %}
<div class="article-list">
<ul>
    {% for article in articles %}
    <li><article>
        <span class="date">{{ article.date|strftime('%d %b %Y') }}</span>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></li>
        </article></li>
    {% endfor %}
        </ul>
    </div>
{% endblock %}
