{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
  <meta property="og:title" content="{{ article.title|striptags }}">
  <meta property="og:description" content="{{ article.summary|striptags }}">

{% endblock %}

{% block content %}
<section>
<h1>
<a class="permalink" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
  <hr />
  <p>
    Published: {{ article.date|strftime('%d %B %Y') }}
    {% if article.modified %}, last modified: {{ article.modified|strftime('%d %B %Y') }}{% endif %}
  </p>
  {% if article.modified %}
    {% if article.modified|strftime('%Y') < '2023' %}{% include '_old.html' %}  {%endif %}
  {% else %}
    {% if article.date|strftime('%Y') < '2023' %}{% include '_old.html' %}{%endif %}
  {%endif %}

  {{ article.content }}

  {% if article.tags %}
  <!-- Tags -->
  <hr />
  <div class="tag-list">
    <p>
      <strong>Tags:</strong>
      {% for tag in article.tags %}
      <span class="article-tag">{{ tag }}</span>{{ "," if not loop.last}}
      {% endfor %}
    </p>
  {% endif %}
  </div>

  {% if article.related_posts %}
  <!-- Related -->
  <hr />
  <div class="article-list">
    <strong>Related Memos:</strong>
    {% for related_post in article.related_posts %}
    <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>{{ "," if not loop.last}}
    {% endfor %}
  </div>
  {% endif %}

  {% if article.show_source_url %}
  <!-- Source -->
  <p><a href="{{ GITSITEURL }}/{{ article.show_source_url }}">Show source</a>
  {% endif %}

  {% if article.prev_article or article.next_article %}
  <!-- Previous / Next Article -->
  <hr />
  <div class="loop-nav">
    {% if article.prev_article %}
    <ul>
      <li class="previous">
      <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
       {{ article.prev_article.title}}
      </a>
    </li>
    
    {% endif %}
    {% if article.next_article %}
    <li class="next">
      <a href="{{ SITEURL }}/{{ article.next_article.url}}">
        {{ article.next_article.title}}
      </a>
    </li>
    {% endif %}
    </ul>
  </div>
  {% endif %}
</section>
{% endblock %}
