{{ partial "head.html" . }}

{{ partial "header.html" . }}

<main class="index">
    <div class="article-list">
        {{ range .Pages }}
          <div class="title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        {{ end }}
  </div>
  <hr>
  <p><a href="/">Home</a></p>
</main>

{{ partial "foot.html" . }}