{{ partial "head.html" . }}

<body>
  
  <header>
    <h2>{{$.Title}}</h2>
    <p><small>{{.Date.Format "January 2, 2006"}} in <a href="/memos/">memos</a></small>.</p>

  </header>

  <main>
    {{.Content}}
  </main>
  <p> Tags:
    {{ with .Params.tags }}
    {{ range . }}
    {{ . }}
    {{ end }}
    {{ end }}
    </p>
</body>
