{{ partial "head.html" . }}

<header>

</header>
<main class="index">
    <div class="article-list">
      <h1>{{$.Title}}</h1>
        {{ range .Pages }}
          <div class="title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </div>
        {{ end }}
  </div>
</main>

{{ partial "foot.html" . }}