{{ partial "head.html" . }}

<body>

<header>
  <h1>{{$.Title}}</h1>
  <p>Published {{.Date.Format "January 2, 2006"}}</p>
</header>

<main>
  {{.Content}}
</main>

{{ partial "foot.html" . }}

</body>