<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    {{ if $.Params.noindex }}
    <meta name="robots" content="noindex">
    {{ end }}
    <title>{{$.Title}}</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script data-goatcounter="https://homeland.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>
</head>
