{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
<main>
  <h1>Hi.</h1>
	<p>I'm Jon Moore.</p>
	<p>In my spare time I build LEGO.</p>
  <p>I have a <a href="/memos">blog</a>.</p>
	<p>You can find me elsewhere around the Internet:
	<ul>
		<li><a href="https://mastodon.sdf.org/@offdutypirate">Mastodon</a></li>
		<li><a href="https://gitlab.com/offdutypirate">GitLab</a></li>
		<li><a href="mailto:thejonmoore@fastmail.com">Email</a></li>
	</ul>
	</p>
	<p>
	<p>If you want to send me encrypted mail, <a href="gpg-public-key.asc">here is my GPG key</a>.</p>
	</body>
 </main>
<br />
{{ partial "foot.html" }}
</body>
</html>
